#search-results {
	padding: 40px 0;
	.panel {
	    color: #333;
	    padding: 20px;
	    display: block;

	    .thumbnail {
	    	width: 64px;
		    height: 64px;
		    border-radius: 32px;
		    background-color: #ddd;
		    color: #FFF;
		    margin: 0;
		    text-align: center;
		    padding-top: 8px;
		    border: none;
	    }

	    .glyphicon-chevron-right.gly-lg {
		    font-size: 28px;
		    color: #ddd;
		    font-weight: 400;
		}

		.thumbnail {
			background-size: contain;
		}

		.details-title {
			font-weight: bold;
			font-size: 12px;
		    color: #333;
		    font-weight: 700;
		    text-transform: uppercase;
		}

		.email {
			font-size: 21px;
		}
	}
}



.cors-error {
	padding-top:20px;
	.bg-danger {
		padding: 30px;
		font-size: 18px;
	}
}